body {
  background-color: #282c34;
}

.center-block {
  margin-left: auto;
  margin-right: auto;
  display: block;
}

.center-text {
  text-align: center;
}

/* Div des JsonEditors */
div[name="outer-box"] {
  /*margin: 0px in der React-Komponente definiert. Zum Zentrieren deshalb ...*/
  margin: auto !important;
}

#graph svg {
  width: 100%;
}
